<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partial/head %>
</head>
<body>
    <div class="container" style= 'margin-bottom: 20; margin-top: 20' >
        <h4>HTML Version:<%= data['version']%></h4>
        <h4>Page Title:<%= data['title']%></h4>
    
        <h4>Headings:</h4>
          <div class="container">
              <h5>h1:<%= data['heading']['h1']%></h5>
              <h5>h2:<%= data['heading']['h2']%></h5>
              <h5>h3:<%= data['heading']['h3']%></h5>
              <h5>h4:<%= data['heading']['h4']%></h5>
              <h5>h5:<%= data['heading']['h5']%></h5>
              <h5>h6:<%= data['heading']['h6']%></h5>
            </div>
        <h4>Image</h4>
          <div class="container">
              <h5>Count:<%= data['imageCount']%></h5>
                <img src=" <%= data['maxImage']%> " style = "width:100%; height:'auto'"/>
            </div>
          <div class="row">
            <div class="col-sm-6">
              <h4>Exteral Links</h4>
              <% data['externalLinks'].forEach(function(link){ %>
                <a href="<%= link %>"><h6><%= link %></h6></a>
              <% }); %>
              
            </div>
            <div class="col-sm-6">
                <h4>Interal Links</h4>
                <% data['internalLinks'].forEach(function(link){ %>
                  <a href="<%= link %>"><h6><%= link %></h6></a>
                <% }); %>
                
              </div>
          </div>
          <h4>Loading Time:<%= data['loadingTime'] %></h4>
        
      </div>
</body>
